# Site settings
title: Adilson Menechini
description: 'Descrição'
#url: 'http://adilsonmenechini.com/jekyll-uno'
baseurl: ''
# google_analytics: 'UA-XXXXXX-X'
# disqus_shortname: 'your-disqus-name'

author:
  name: 'Adilson Menechini'
  email: adilsonmenechini@gmail.com
  #twitter_username: adilsonmenechini
  facebook_username: adilsonmenechini
  github_username:  adilsonmenechini
  linkedin_username:  adilsonmenechini

defaults:
  -
    scope:
      path: ''
      type: 'posts'
    values:
        layout: 'post'

# Build settings
destination: _site
paginate: 10
permalink: /:categories/:title/
markdown: kramdown
highlighter: rouge

sass:
    sass_dir: _sass
    style: compressed

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false

plugins: ['jekyll-paginate']
exclude: ['README.md', 'Gemfile', 'Gemfile.lock', 'screenshot.png']
